<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Creer un utilisateur</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Place favicon.png in the root directory -->
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  <!-- Font Icons css -->
  <link rel="stylesheet" href="/css/font-icons.css">
  <!-- plugins css -->
  <link rel="stylesheet" href="/css/plugins.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- Responsive css -->
  <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

<h1>Créer un Nouvel Utilisateur</h1>
<div class="alert alert-danger" th:if="${error}">
  <p th:text="${error}">Message d'erreur</p>
</div>
<form th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
  </div>
  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" th:field="*{nom}" required />
  </div>
  <div>
    <label for="prenom">Prénom:</label>
    <input type="text" id="prenom" th:field="*{prenom}" required />
  </div>
  <div>
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" th:field="*{adresse}" />
  </div>
  <div>
    <label for="codePostal">Code Postal:</label>
    <input type="text" id="codePostal" th:field="*{codePostal}" />
  </div>
  <div>
    <label for="ville">Ville:</label>
    <input type="text" id="ville" th:field="*{ville}" />
  </div>
  <div>
    <label for="telephone">Téléphone:</label>
    <input type="text" id="telephone" th:field="*{telephone}" />
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" th:field="*{password}" required />
  </div>
<!--  <div>-->
<!--    <label for="permisPath">Chemin du Permis:</label>-->
<!--    <input type="text" id="permisPath" th:field="*{permisPath}" />-->
<!--  </div>-->
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" required />
  </div>
  <div>
    <label for="permis">Votre permis de conduire:</label>
    <input type="file" id="permis" accept=".jpg, .jpeg, .png" name="permis" required />
  </div>
  <div>
    <button type="submit">Enregistrer</button>
  </div>
</form>
</body>
</html>