<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}" lang="fr">
<head>
    <title th:text="${pageTitle}">Détail du véhicule</title>
    <link rel="stylesheet" th:href="@{/css/vehiule/detail/detail.css}" />
</head>
<body>

<section layout:fragment="content">
    <br><br><br><br><br><br><br><br>
    <div class="container mt-5">
        <h3 th:text="${vehicule.categorie.libelle + ' ' + vehicule.modele}">Vehicule</h3>
        <div class="row">
            <div class="col-lg-8">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="image, iterStat : ${vehicule.images}" th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                            <img th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${image.imagePath}}" class="d-block w-100" alt="Image du véhicule"/>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row mt-3 images-slider">
                    <div th:each="image, iterStat : ${vehicule.images}" class="col-2">
                        <a href="#" th:attr="data-target='#carouselExampleControls', data-slide-to=${iterStat.index}">
                            <img th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${image.imagePath}}" class="img-thumbnail" alt="Image miniature du véhicule"/>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="information-block">
                    <h3>Informations sur le véhicule</h3>
                    <p th:text="${vehicule.categorie.libelle} + ' ' + ${vehicule.modele} + ' - ' + ${vehicule.annee} + ' ' + ${vehicule.couleur}">Informations du véhicule</p>
                    <p th:text="'Type de boîte : ' + ${vehicule.boiteVitesse} + ' - ' + ${vehicule.nbKm} + ' km'">Boite de vitesse et kilométrage</p>
                    <p th:text="'Carburant : ' + ${vehicule.fuel}">Carburant</p>
                    <p th:text="'Nombre de chevaux : ' + ${vehicule.nbCheveaux}">Nombre de chevaux</p>
                    <p th:text="'Nombre de places : ' + ${vehicule.nbPlace}">Nombre de places</p>
                    <hr>

                    <h3>Tarifs</h3>
                    <div th:each="tarif : ${vehicule.tarifs}" class="tarif">
                        <strong><span th:text="${tarif.calendrier} + ' : '"></span></strong>
                        <span th:text="${tarif.prix} + ' €'"></span>
                    </div>
                    <p></p>
                    <p class="caution" th:text="'Caution : ' + ${vehicule.caution} + ' €'">Caution</p>

                    <div th:if="${!#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                        <hr>
                        <h3>Réserver ce véhicule</h3>
                        <div th:if="${error}" class="alert alert-danger">
                            <p th:text="${error}">Message d'erreur</p>
                        </div>
                        <div th:if="${vehicule.disponible}">
                            <form th:action="@{/reservations/create}" th:object="${reservation}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <div class="row">
                                    <div class="col">
                                        <label for="dateDebutReservation">Date de début:</label>
                                        <input type="date" id="dateDebutReservation"  class="form-control"  th:field="*{dateDebutReservation}" required>
                                    </div>
                                    <div class="col">
                                        <label for="dateFinReservation">Date de fin:</label>
                                        <input type="date" id="dateFinReservation"  class="form-control"  th:field="*{dateFinReservation}" required>
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{vehicule.id}" />
                                <br>
                                <button type="submit" class="btn btn-primary">Réserver ce véhicule</button>
                            </form>
                        </div>

                        <div th:unless="${vehicule.disponible}">
                            <br>
                            <p class="alert alert-info">Ce véhicule est actuellement indisponible.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
