<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title th:text="${pageTitle}">Détail du véhicule</title>
</head>
<body>

<section layout:fragment="content">
    <br><br><br><br>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${vehicule.modele}">Modèle du véhicule</h5>
                <p class="card-text">Caution: <span th:text="${vehicule.caution} + '€'">Caution</span></p>
                <p class="card-text">Nombre de places: <span th:text="${vehicule.nbPlace}">Nombre de places</span></p>
                <h3>Tarifs:</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <ul class="list-group list-group-light">
                    <li class="list-group-item" th:each="tarif : ${vehicule.tarifs}">
                        <span th:text="${tarif.calendrier} + ' : ' + ${tarif.prix} + '€'">Tarif</span>
                    </li>
                </ul>
                <p>Catégorie: <span th:text="${vehicule.categorie.libelle}">Catégorie</span></p>
            </div>
            <div th:each="image : ${vehicule.images}">
                <img class="card-img-top"  th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${image.imagePath}}" alt="Image du véhicule"/>
            </div>

        </div>
        <br>
        <h3>Réservation du véhicule</h3>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}">Message d'erreur</p>
        </div>
        <div th:if="${vehicule.disponible}">
            <form th:action="@{/reservations/create}" th:object="${reservation}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div>
                    <label for="dateDebutReservation">Date de début:</label>
                    <input type="date" id="dateDebutReservation" th:field="*{dateDebutReservation}" required>
                </div>
                <div>
                    <label for="dateFinReservation">Date de fin:</label>
                    <input type="date" id="dateFinReservation" th:field="*{dateFinReservation}" required>
                </div>
                <input type="hidden" th:field="*{vehicule.id}" />
                <button type="submit" class="btn btn-primary">Réserver ce véhicule</button>
            </form>
        </div>

        <div th:unless="${vehicule.disponible}">
            <p class="alert alert-info">Ce véhicule n'est actuellement pas disponible pour la réservation.</p>
        </div>
    </div>

    <br><br><br>

<!--

    <div th:unless="${vehicule.disponible}">
        <p class="alert alert-info">Ce véhicule n'est actuellement pas disponible pour la réservation.</p>
    </div>

    <h1 th:text="${vehicule.modele}"></h1>
    <p>Caution: <span th:text="${vehicule.caution} + '€'">Caution</span></p>
    <p>Nombre de places: <span th:text="${vehicule.nbPlace}">Nombre de places</span></p>
    <h3>Tarifs:</h3>
    <ul>
        <li th:each="tarif : ${vehicule.tarifs}">
            <span th:text="${tarif.calendrier} + ' : ' + ${tarif.prix} + '€'">Tarif</span>
        </li>
    </ul>
    <p>Catégorie: <span th:text="${vehicule.categorie.libelle}">Catégorie</span></p>

    <h3>Images:</h3>
    <div th:each="image : ${vehicule.images}">
        <img th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${image.imagePath}}" alt="Image du véhicule"/>
    </div>



    <h3>Réserver ce véhicule</h3>
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}">Message d'erreur</p>
    </div>
    <div th:if="${vehicule.disponible}">
        <form th:action="@{/reservations/create}" th:object="${reservation}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div>
                <label for="dateDebutReservation">Date de début:</label>
                <input type="date" id="dateDebutReservation" th:field="*{dateDebutReservation}" required>
            </div>
            <div>
                <label for="dateFinReservation">Date de fin:</label>
                <input type="date" id="dateFinReservation" th:field="*{dateFinReservation}" required>
            </div>
            <input type="hidden" th:field="*{vehicule.id}" />
            <button type="submit" class="btn btn-primary">Réserver ce véhicule</button>
        </form>
    </div>
    <div th:unless="${vehicule.disponible}">
        <p class="alert alert-info">Ce véhicule n'est actuellement pas disponible pour la réservation.</p>
    </div>
-->
</section>

</body>
</html>
