<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title th:text="${pageTitle}">Catalogue</title>
</head>
<body>

<section layout:fragment="content">
    <br><br><br><br>
    <h1>Liste des Véhicules</h1>
    <div th:each="vehicule : ${vehicules}">

        <h2><a th:href="@{/vehicules/{id}(id=${vehicule.id})}" th:text="${vehicule.modele}"> Détail du véhicule</a></h2>
        <p>Caution: <span th:text="${vehicule.caution}+ '€'">Caution</span></p>
        <p>Nombre de places: <span th:text="${vehicule.nbPlace}">Nombre de places</span></p>
        <h3>Tarifs:</h3>
        <ul>
            <li th:each="tarif : ${vehicule.tarifs}">
                <span th:text="${tarif.calendrier} + ' : ' + ${tarif.prix} + '€'">Tarif</span>
            </li>
        </ul>
        <div th:if="${vehicule.images.size() > 0}">
            <img th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${vehicule.images.get(0).imagePath}}" alt="Image du véhicule"/>
        </div>
        <p>Catégorie: <span th:text="${vehicule.categorie.libelle}">Catégorie</span></p>
        <h3>Images:</h3>
            <hr>
    </div>
</section>

</body>
</html>