<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">
<head>
    <title th:text="${pageTitle}">Page d'Accueil</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>

<section layout:fragment="content">

    <br><br><br>
    <div class="row">
        <div class="col-md-6" id="left-section"> </div>
        <div class="col-md-6">
            <div class="content">
                <h1>La location dont vous rêvez</h1>
                <div class="info-section mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><i class="fa-regular fa-clock mx-2"></i>Pas d'attente au comptoir</p>
                            <p class="card-text"><i class="fa-solid fa-car mx-2"></i>Modèle garanti</p>
                            <p class="card-text"><i class="fa-solid fa-heart mx-2"></i>Service et maintenance</p>
                            <p class="card-text"><i class="fa-solid fa-calendar-check mx-2"></i>De 1 à 30 jours</p>
                        </div>
                        <div class="col-md-6">
                            <p class="card-text"><i class="fa-solid fa-computer mx-2"></i>Accès 24h/24 et 7j/7</p>
                            <p class="card-text"><i class="fa-solid fa-xmark mx-2"></i>Annulation gratuite</p>
                            <p class="card-text"><i class="fa-solid fa-headset mx-2"></i>Service client 24h/24 et 7j/7</p>
                            <p class="card-text"><i class="fa-solid fa-location-dot mx-2"></i>En agence</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>En agence</div>

                    <p class="ui-widget-content">
                        Retrouvez votre agence de location de voitures Locar <br/>
                        à Paris, 56 Boulevard de l’Imaginaire, 75008.
                    </p>
                    <p class="ui-widget-content">
                        Réservez votre voiture depuis notre plateforme. <br/>
                        Recupérez la clé du véhicule en agence après avoir donné la caution.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <center>
        <div class="delimiter"></div>
    </center>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="img-fluid rounded-img" alt="" th:src="@{'img/home/steps-hp/1.png'}"/>
                <div>
                    <h4>1. Ouvrez votre compte.</h4>
                    <p class="step-p">Téléchargez vos documents une fois pour toutes : pas de paperasse lors de vos locations de voiture avec Locar.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <img class="img-fluid rounded-img" alt="" th:src="@{'img/home/steps-hp/2.png'}"/>
                <div>
                    <h4>2. Choisissez votre véhicule.</h4>
                    <p class="step-p">Découvrez notre sélection de véhicules de location de qualité : Tesla, Mercedes, Volkswagen, BMW, Peugeot, et plus.</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <img class="img-fluid rounded-img" alt="" th:src="@{'img/home/steps-hp/3.png'}"/>
                <div>
                    <h4>3. Récupérez votre véhicule en agence.</h4>
                    <p class="step-p">Récupérez la clé de votre véhicule en agence. Faites votre état des lieux avec notre plateforme, vous êtes parti.</p>
                </div>
            </div>
        </div>
    </div>

    <center>
        <div class="delimiter"></div>
    </center>

    <br>

    <div class="text-center mb-5">
        <h2>Nos voitures</h2>
        <p>Premium, garanties et suréquipées</p>
        <p> Vous pouvez decrouvrir tout notre catalogue de voitures en <a th:href="@{/vehicules}">cliquant ici. </a></p>
    </div>

    <div class="cars-container">
        <div th:each="vehicule : ${vehicules}" class="col-md-4">
            <a th:href="@{/vehicules/{id}(id=${vehicule.id})}" class="card-link">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="fuel-badge d-flex align-items-center mb-3">
                            <div th:if="${vehicule.fuel == 'Electrique'}">
                                <img th:src="@{/img/vehicule-hp/svg-aZs.png}" alt="" class="img-fluid electric-icon"/>
                            </div>
                            <h5 th:text="${vehicule.fuel}" class="mb-0"></h5>
                        </div>
                        <div class="mb-3">
                            <div th:if="${vehicule.images.size() > 0}">
                                <img th:src="@{'/uploads/img/vehicules/' + ${vehicule.folder} + '/' + ${vehicule.images.get(0).imagePath}}" alt="" class="img-fluid"/>
                            </div>
                            <h4 th:text="${vehicule.categorie.libelle}"></h4>
                            <p th:text="${vehicule.modele}"></p>
                            <div th:if="${!#lists.isEmpty(vehicule.tarifs)}">
                                <p>Louez ce véhicule à partir de <span th:text="${vehicule.tarifs[0].prix}">Prix</span> € par jour <br> pour une location de 7 jours </p>
                            </div>
                            <div th:unless="${!#lists.isEmpty(vehicule.tarifs)}">
                               <p> N/A </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <a th:href="@{/vehicules/{id}(id=${vehicule.id})}" class="btn btn-primary">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <center>
        <div class="delimiter"></div>
    </center>
    <br><br>

    <div class="d-flex align-items-center justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center">
            <h2>La nouvelle plateforme de location, Locar</h2>
            <p class="step-p">Plus de files d'attente, plus de paperasse, allez directement à votre voiture.
                En toute autonomie, récupérez votre voiture, ouvrez-là et faites l'état des lieux, tout
                cela grâce à votre plateforme Locar.</p>
            <div class="image-container">
                <img class="img-fluid rounded-img" alt="" th:src="@{'/img/home/plateforme.png'}"/>
                <div class="centered">
                    <p class="plateforme-p"> Louez votre voiture, nous vous la préparons </p>
                    <a th:href="@{/vehicules}" class="custom-button"> Catalogue de véhicules </a>
                </div>
            </div>
        </div>
    </div>
<br><br><br>
</section>

</body>
</html>

