<!DOCTYPE html>
<html layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}">Ma réservation</title>
</head>
<body>
<section layout:fragment="content">
    <br><br><br><br>
    <h2> Modification de la réservation </h2>
    <div class="alert alert-danger" th:if="${error}">
        <p th:text="${error}">Message d'erreur</p>
    </div>
    <form th:action="@{/reservations/edit/{id}(id=${reservation.id})}" th:object="${reservation}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col">
                <label for="dateDebutReservation">Date de début:</label>
                <input type="date"  class="form-control" id="dateDebutReservation" th:field="*{dateDebutReservation}" required>
            </div>
            <div class="col">
                <label for="dateFinReservation">Date de fin:</label>
                <input type="date"  class="form-control" id="dateFinReservation" th:field="*{dateFinReservation}" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Modifier ma réservation</button>
    </form>
</section>
</body>