<!DOCTYPE html>
<html layout:decorate="~{layouts/base}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title th:text="${pageTitle}">Mes réservations</title>

</head>
<body>
<section layout:fragment="content">
<br><br><br>
    <div class="container mt-5">
        <h1>Mes réservations</h1>
    </div>
    <br><br><br>
    <div class="container mt-5">
        <br>
        <div class="alert alert-danger" th:if="${error}">
            <p th:text="${error}">Message d'erreur</p>
        </div>
        <div class="alert alert-success" th:if="${success}">
            <p th:text="${success}">Message de succès</p>
        </div>

        <div th:each="reservation : ${reservations}" class="card mx-auto shadow mb-4" style="width: 80%; background-color: #f8f9fa;">
            <div class="card-body">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="card-title" th:text="'Réservation nº' + ${reservation.id}"></h5>
                    <small th:text="${#dates.format(reservation.createdAt, 'dd/MM/yyyy')}"></small>
                </div>
                <p class="card-text" th:text="'Véhicule : ' + ${reservation.vehicule.categorie.libelle + ' ' + reservation.vehicule.modele}"></p>
                <p class="card-text" th:text="'Durée de la location : ' + ${reservation.nbJourReserve} + ' jours'"></p>
                <p class="card-text" th:text="'Prix : ' + ${reservation.prix} + ' €'"></p>
                <div class="d-flex flex-wrap flex-sm-row flex-column justify-content-end">
                    <a th:href="@{/reservations/{id}(id=${reservation.id})}" class="btn btn-primary btn-sm my-1 mx-1">Détails</a>
                    <a th:unless="${reservation.facture}" th:href="@{/paiement/stripe/{id}(id=${reservation.id})}" class="btn btn-success btn-sm my-1 mx-1">Payer</a>
                    <a th:href="@{/facture/pdf/{id}(id=${reservation.id})}" class="btn btn-secondary btn-sm my-1 mx-1" th:text="${reservation.facture == null ? 'Devis PDF' : 'Facture PDF'}"></a>
                </div>
            </div>
        </div>

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
</body>
</html>
